
CONFIG_USE_OF=y
CONFIG_ATAGS=y
CONFIG_ARM_APPENDED_DTB=y
CONFIG_ARM_ATAG_DTB_COMPAT=y
CONFIG_ARM_ATAG_DTB_COMPAT_CMDLINE_EXTEND=y
CONFIG_CMDLINE_FROM_BOOTLOADER=y 

CONFIG_SMP=y
CONFIG_ARCH_HISI=y
######CONFIG_ARCH_HIX5HD2=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y

CONFIG_HIGHMEM=y

CONFIG_AEABI=y
CONFIG_VFP=y
CONFIG_VFPv3=y

CONFIG_STAGING=y
CONFIG_ANDROID=y
CONFIG_ION=y
CONFIG_ION_HISI=y
CONFIG_HI3798CV200_ION=y
CONFIG_ION_UNMAPPED_HEAP=y
CONFIG_ION_HISI_UNMAPPED_HEAP=y
CONFIG_ION_HISI_UNMAPPED_BASE=0x02800000
CONFIG_ION_HISI_UNMAPPED_SIZE=0x00400000
CONFIG_MAILBOX=y
CONFIG_ARM_MHU=y
CONFIG_BCM_PDC_MBOX=y
CONFIG_HISI_IOMMU=y
CONFIG_ARM_SMMU=y

CONFIG_CMA=y

##CONFIG_POWER_RESET_SYSCON=y
##CONFIG_SYSCON_REBOOT_MODE=y
CONFIG_POWER_RESET_HI3798CV2X=y

CONFIG_CGROUPS=y
CONFIG_BLK_CGROUP=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_CGROUP_PERF=y

CONFIG_MMC=y
CONFIG_MMC_BLOCK_MINORS=32
CONFIG_MMC_ARMMMCI=y
CONFIG_MMC_DW=y
CONFIG_MMC_DW_K3=y
CONFIG_MMC_DW_HI3798CV200=y

CONFIG_BLK_DEV_SD=y

CONFIG_BLK_CMDLINE_PARSER=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_CMDLINE_PARTITION=y

CONFIG_TMPFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

CONFIG_EXT4_FS=y

CONFIG_NET=y
CONFIG_UNIX=y
CONFIG_INET=y

CONFIG_NETDEVICES=y
CONFIG_MACB=y
CONFIG_HIX5HD2_GMAC=y

CONFIG_HISILICON_VENDOR=y
