config HISILICON_VENDOR
	bool "HiSilicon vendor drivers support"
	help
	  It includes HiSilicon vendor drivers to support multimedia
	  functions like graphic, audio, video etc.

config HISILICON_CHIP_TYPE_HI3798CV100
	bool "HiSilicon Hi3798cv100 chip type"
	
