if ION_HISI

config HI6220_ION
        bool "Hi6220 ION Driver"
        depends on ARCH_HISI && ION
        help
          Build the Hisilicon Hi6220 ion driver.

config HI3798CV200_ION
        bool "Hi3798CV200 ION Driver"
        depends on ARCH_HISI && ION
        help
          Build the Hisilicon Hi3798CV200 ion driver.

endif
