/*
 * DTS File for HiSilicon Hi3798cv200 SoC.
 *
 * Copyright (c) 2016-2017 HiSilicon Technologies Co., Ltd.
 *
 * Released under the GPLv2 only.
 * SPDX-License-Identifier: GPL-2.0
 */

#include <dt-bindings/clock/histb-clock.h>

/ {
	compatible = "hisilicon,hi3798cv200";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	cpus {
		cluster0: cluster0 { 
		#address-cells = <2>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "arm,cortex-a53";
			device_type = "cpu";
			reg = <0x0 0x0>;
			/*enable-method = "psci";*/
		};

		cpu@1 {
			compatible = "arm,cortex-a53";
			device_type = "cpu";
			reg = <0x0 0x1>;
			/*enable-method = "psci";*/
		};

		cpu@2 {
			compatible = "arm,cortex-a53";
			device_type = "cpu";
			reg = <0x0 0x2>;
			/*enable-method = "psci";*/
		};

		cpu@3 {
			compatible = "arm,cortex-a53";
			device_type = "cpu";
			reg = <0x0 0x3>;
			/*enable-method = "psci";*/
		};
		};
	};

	gic: interrupt-controller {
		compatible = "arm,cortex-a9-gic";
		#interrupt-cells = <3>;
		#address-cells = <0>;
		interrupt-controller;
		/*reg = <0xf1001000 0x1000>,
		      <0xf1002000 0x100>;*/
		reg = <0x0 0xf1001000 0x0 0x1000>,  /* GICD */
		      <0x0 0xf1002000 0x0 0x100>;   /* GICC */ 
	};

	clocks {
		xtal_clk: xtal_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
			clock-output-names = "clk24M";
		};

		clk_75m: clk_75m{
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <75000000>;
			clock-output-names = "clk75M";
		};
	};

	soc: soc@f0000000 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x0 0x0 0xf0000000 0x10000000>;

		crg: clock-reset-controller@8a22000 {
			compatible = "hisilicon,hi3798cv200-crg", "syscon", "simple-mfd";
			reg = <0x8a22000 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <2>;
			

		};

		sysctrl: system-controller@8000000 {
			compatible = "hisilicon,hi3798cv200-sysctrl", "syscon";
			reg = <0x8000000 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <2>;
		};

		reboot {
			compatible = "syscon-reboot";
			regmap = <&sysctrl>;
			offset = <0x4>;
			mask = <0xdeadbeef>;
		};

		uart0: serial@8b00000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x8b00000 0x1000>;
			/*interrupts = <GIC_SPI 49 IRQ_TYPE_LEVEL_HIGH>;*/
			interrupts = <0 49 4>;
			clocks = <&sysctrl HISTB_UART0_CLK>;
			clock-names = "apb_pclk";
			status = "disabled";
		};

		timer1: timer@8a29000 {
			compatible = "arm,sp804", "arm,primecell";
			reg = <0x8a29000 0x1000>;
			/* timer10 & timer11 */
			interrupts = <0 25 4>;
			clocks = <&xtal_clk>; /*<&sysctrl HISTB_TIMER01_CLK>;*/
			clock-names = "apb_pclk"; 
			status = "disabled";
		};

                emmc: mmc@9830000 {
                        compatible = "snps,dw-mshc";
                        reg = <0x9830000 0x10000>;
                        /*interrupts = <GIC_SPI 35 IRQ_TYPE_LEVEL_HIGH>;*/
                        interrupts = <0 35 4>;
                        clocks = <&crg HISTB_MMC_CIU_CLK>,
                                 <&crg HISTB_MMC_BIU_CLK>;
                        clock-names = "ciu", "biu";
                        resets = <&crg 0xa0 4>;
                        reset-names = "reset";
                        status = "disabled";
                };

		sd0: mmc@9820000 {
			compatible = "snps,dw-mshc";
			reg = <0x9820000 0x10000>;
			/*interrupts = <GIC_SPI 34 IRQ_TYPE_LEVEL_HIGH>;*/
			interrupts = <0 34 4>;
			clocks = <&crg HISTB_SDIO0_CIU_CLK>,
				 <&crg HISTB_SDIO0_BIU_CLK>;
			clock-names = "ciu", "biu";
			resets = <&crg 0x9c 4>;
			reset-names = "reset";
			status = "disabled";
		};


	};
};

