
config TIMER_HISP804
	bool "Support for hisilicon SP804 module"
	depends on GENERIC_SCHED_CLOCK && CLKDEV_LOOKUP
	select CLKSRC_MMIO
	select CLKSRC_OF if OF

config TIMER_HIFIXTIMER
	bool "Support for fixtimer module"
	depends on ARM_TIMER_SP804 || TIMER_HISP804
	default y

config HI_I2C
	tristate "Hisilicon high-speed I2C devices"
	default n
	depends on I2C
	help
	Say Y here to include support for Hisilicon high-speed I2C controller.

	This driver can also be built as a module.  If so, the module
	will be called hi-i2c.
